.leaflert-container {
  position: fixed;
  height: 90vh;
  width: 100vw;
  top: 0;
  left: 0;
}
#mapButton {
  position: absolute;
  bottom: 6vh;
  right: 1vh;
  padding: 10px;
  z-index: 10000;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .leaflert-container {
    height: 80vh;
    width: 98vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding-left: 1vw;
  }
  #mapButton {
    bottom: -2vh;
  }
}
